.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000094;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: #ccc;
    padding: 50px 100px;
}

.col {
    display: flex;
    flex-direction: column;
}

.box {
    background: white;
    padding: 1px 30px 30px 30px;
    margin: 30px 5px;
}