body {
    width: 80%;
}

.td {
    height: 60px;
    padding: 55px 35px 0 25px;
    border: 3px solid #fff;    
    width: 33%;
    background: #cccccc9c;
    background-size: 133px;
    background-repeat: no-repeat;
    background-position: right;
}

.serachCategory {
    flex: 25%;
}

.oneLine {
    display: flex;
    align-items: center;
}

.searchInput {
    margin-bottom: 0px;
    border: 1px solid #4ba428;
    border-radius: 5px;
}

.searchBtn {
    position: relative;
    top: 10px;
}

.header {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
    margin-bottom: 50px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.peopleBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-top: 1px solid #ccc;
}

.postsWrap {
    /* background: #ccc; */
    display: flex;
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    padding-right: 0;
}

.peopleAvatar {
    width: 130px;
    height: 130px;
    margin-right: 15px;
    background: #ccc;
    border-radius: 50%;
    background-size: cover;
}

.peoplePost {
    background: white;
    width: 150px;
    height: 190px;
    margin-right: 15px;
    background-size: cover;
}

.textCenter {
    text-align: center;
}

.flexCol {
    display: flex;
    flex-direction: column;
}

.jobWrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}

.jobAvatar {
    width: 200px;
    height: 200px;
    background: #ccc;
    background-size: cover;
}

.jobInfo {
    margin-top: -15px;
}

.restAvatar {
    width: 130px;
    height: 130px;
    background-size: contain;
    background-color: white;
    background-repeat: no-repeat;
}

.restWrap {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #ccc;
    padding-top: 5px;
}

.restA {
    width: 50%;
}

.restInfo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50;
    width: 50%;
    margin-top: -10px;
}

.restBtn {
    font-size: 12px;
    padding: 4px 8px;
    margin-right: 5px;
}

.h3 {
    margin: 0;
}

.allWrap {
    display: flex;
    flex-wrap: wrap;
    /* background: #ccc; */
    padding: 10px 0px 0px 10px;
    margin-bottom: 50px;
}

.allPost {
    background: white;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-size: cover;
    border: 3px solid white;
}

.postH3 {
    background: white;
    margin: 0;
    font-weight: 100;
}

.darken {
    background: #00000047;
    width: 100%;
    height: 100%;
    position: relative;
    top: -9.5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 0;
}

.searchbarBtns {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: -25px;
}

.searchbarBtn {
    margin: 0;
    color: rgb(122, 121, 121);
    background: #eee;
}

.inputDiv {
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    align-items: flex-end;
    position: relative;
    top: -25px;
}

.sm {
    color: #2e2070;
    background: #ede9fa;
    padding: 6px 8px;
}